.App {
  text-align: center;
  height : 100%
}

body {
  height : 100%;
}

.App-header {
  background-color: #e0e0e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*
-------------
Component CSS 
-------------
*/

.SearchComponent {
  margin-top:2%;
  display: flex;
}

/* DonutChart CSS */
.cardedDonutChart {
  margin-top: 2%;
}

/* Header component CSS */
.header_banner {
  background-color: #212121;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 36pt;
  height: 60px;
  color: white;
  display:flex;
  justify-content: space-around;
}

.App.header_banner.social {
  background-color: #212121;
  display:flex;
  justify-content: flex-end;
}

.euiFlexGroup--directionRow {
justify-content: space-around;
}


.App-link {
  color: #61dafb;
}


/* .ChartStyle {
 width: 80%;
 height: 80%;
} */
